/*Univesal style*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/*Navbar div*/

.navbar {
    height: 50px;
    width: 90%;
    background-color: #0f172a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 60px;
    margin-top: 20px;
    border-radius: 10px;
}

.logo {
    font-size: 50px;
}

body {
    background-color: #0f172a;
}


.features select {
    width: 110px;
    font-size: 20px;
    border: none;
    background-color: #0f172a;
    outline: none;
}

.prize {
    font-size: 20px;
}

.faq {
    font-size: 20px;
}

.resource select {
    border: none;
    outline: none;
    width: 70px;
    font-size: 20px;
    background-color: #0f172a;
}

/*Navbar login*/

.login {
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 100px;
    background-color: gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login a {
    color: black;
}

/*Main Poster of Website*/

.pic {
    
    height: 500px;
    width: 500px;
    background-image: url(Banner.jpg);
    background-size: cover;
    margin-top: 30px;
}

/*Poster div*/

.web {
    background-color: #0f172a;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

.web .heading {
    display: flex;
    flex-direction: column;
    margin-right: 170px;
}

#head2 {
    font-size: 60px; 
}

#head1 {
    font-size: 30px;
}

/*Sign up button */

.btn {
    margin-top: 100px;
    height: 50px;
    width: 70%;
    background-color: gray;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
    border-radius: 10px;
}
.btn a {
    color: black;
}

/*Main poster just bottom page.*/

.information {
    background-color: rgb(231, 224, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

#info {
    font-size: 70px;
    margin-left: 50px;
    margin-top: 20px;
}
#info2 {
    font-size: 40px;
    color: gray;
    margin-right: 50px;
    margin-top: 20px;
}

/*Per Swipper style*/

.information .swiper-slide {
    margin-top: 20px;
    width: 100%;
    height: 90%;
    border: transparent;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 20px 20px 20px 45px ;
}

/*mySwiper is main div of swipper*/

.information .mySwiper {
    margin-left: 50px;
    height: 200px;
    width: 90%;
}

/*left or right button*/

.information .swipper-btn {
    color: black;
}

/*Slide color*/

#slide1 {
    background-color: lightcoral;
}
#slide2 {
    background-color: lightblue;
}
#slide3 {
    background-color: lightgreen;
}
#slide4 {
    background-color: lightslategray;
}
#slide5 {
    background-color: lightsalmon;
}
#slide6 {
    background-color: lightgrey;
}

/*This is information of website.*/

.motive {
    background-color: black;
}

#info4 {
    padding-top: 50px;
    font-size: 70px;
    color: white;
}

/*image div*/

.box1 {
    height: 200px;
    width: 400px;
    background-image: url("notification.jpg");
    background-size: cover;
}

/*this div contain .box1 class div*/

.subBox1 {
    height: 650px;
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 50px;
}

/*box class is main div*/
.box h1 {
    font-size: 50px;
    margin-top: 20px;
}
.box p {
    font-size: 30px;
    margin-top: 20px;
}

.box {
    display: flex;
    justify-content: space-around;
}

/*Subbox2 contain subbox3 and subbox4 class*/

.subBox2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 50px;
}

.subBox2 .subBox3{
    height: 300px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
}

.subBox2 .subBox4 {
    height: 300px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
}

/*Grid*/

#grid-text {
    font-size: 70px;
    background-color: #dc2626;
    text-align: center;
}

.container {
    height: 130vh;
    background-color: #dc2626;
    display: grid;
    grid-template-rows: 450px 450px;
    grid-template-columns: 400px 400px 400px ;
    justify-content: space-evenly;
    align-items: center;
}

.grid-box {
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-box span {
    font-size: 60px;
    background-color: ;
}

.grid-box h3 {
    font-size: 30px;
}

.grid-box p {
    font-size: 25px;
}

/*Reviews*/

.reviews {
    height: 600px;
    background-color: rgb(245, 146, 106);
}

.reviews .mySwiper {
    height: 600px;
    width: 90%;
}

.reviews .swiper-slide {
    height: 500px;
    border: 2px solid black;
    background-color: lightsalmon;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 50%;
    margin-top: 50px;
}

.reviews #name {
    font-size: 60px;
    margin: 50px;
}
.reviews #review {
    font-size: 30px;
    margin-left: 50px;
}

.img1 {
    grid-column-end: 3;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 1;
    background-image: url(Emma_Watson.jpg);
    height: 400px;
    width: 400px;
    background-size: cover;
    margin: 50px 50px 50px 70px ;
    border: 2px solid black;
    border-radius: 10px;
}

.img2 {
    grid-column-end: 3;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 1;
    background-image: url(tom.jpg);
    height: 400px;
    width: 400px;
    background-size: cover;
    margin: 50px 50px 50px 70px ;
    border: 2px solid black;
    border-radius: 10px;
}

.img3 {
    grid-column-end: 3;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 1;
    background-image: url(rakulpreet.jpg);
    height: 400px;
    width: 400px;
    background-size: cover;
    margin: 50px 50px 50px 70px ;
    border: 2px solid black;
    border-radius: 10px;
}

.img4 {
    grid-column-end: 3;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 1;
    background-image: url(Pooja-Hegde.jpg);
    height: 400px;
    width: 400px;
    background-size: cover;
    margin: 50px 50px 50px 70px ;
    border: 2px solid black;
    border-radius: 10px;
}

.img5 {
    grid-column-end: 3;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 1;
    background-image: url(MaheshBabu.jpg);
    height: 400px;
    width: 400px;
    background-size: cover;
    margin: 50px 50px 50px 70px ;
    border: 2px solid black;
    border-radius: 10px;
}