body {
    /*100vh cover a full page display.*/
    height: 100vh;
    background-color: #2A9D8F; 
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box {
    height: 600px;
    width: 700px;
    border: transparent;
    border-radius: 20px;
    background-color: #264653;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#head {
    font-size: 30px;
    font-weight: 700;
}

.input {
    height: 30px;
    width: 60%;
    font-size: 20px;
    border-radius: 10px;
    border: transparent;
    outline: none;
}

#para {
    font-size : 20px;
    font-weight: bold;
}

#link1 {
    color: yellow;
    text-decoration: none;
    font-size: 18px;
}

#btn {
    height: 30px;
    width: 60%;
    background-color: yellow;
    border: transparent;
    border-radius: 10px;
    font-size: 20px;
}

.signup {
    display: flex;
}

.signup p {
    font-size: 20px;
}

#link2 {
    color: black;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;

}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line p {
    margin: 20px;
}

#line {
    width: 200px;
}

#google {
    font-size: 30px;
    margin-right: 100px;
}
#facebook {
    font-size: 30px;
    margin-right: 100px;
}
#twitter {
    font-size: 30px;
}

.font a {
    color: black;
    text-decoration: none;
}
