
/*This is for whole body style.*/
body {
    /*100vh cover a full page display.*/
    height: 100vh;
    background-color: #020617; 
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*This is for remove button.*/

.remove {
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
    margin-top: 30px;
    cursor: pointer;
}

.remove  i {
    font-size: 30px;
    color: gray;
}

.remove i:hover {
    color: black;
}

/*This is for login box only.*/
.box {
    height: 650px;
    width: 700px;
    border: transparent;
    border-radius: 20px;
    background-color: #264653;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*This is for heading style.*/
#head {
    font-size: 30px;
    font-weight: 700;
}

#para {
    font-size : 20px;
    font-weight: bold;
}

/*This style for three inputs.*/
.input {
    height: 30px;
    width: 60%;
    font-size: 20px;
    border-radius: 10px;
    border: transparent;
    outline: none;
}

/*This is forget a password page link*/
#link1 {
    color: yellow;
    text-decoration: none;
    font-size: 18px;
}

/*This is for log in button.*/
#btn {
    height: 30px;
    width: 60%;
    background-color: yellow;
    border: transparent;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

/*This is sign up page link.*/
.signup {
    display: flex;
}

.signup p {
    font-size: 20px;
}

#link2 {
    color: black;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;

}

/*Line*/
.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line p {
    margin: 20px;
}

#line {
    width: 200px;
}

/*This is for font Awesome.*/

#google {
    font-size: 30px;
    margin-right: 100px;
}
#facebook {
    font-size: 30px;
    margin-right: 100px;
}
#twitter {
    font-size: 30px;
}

.font a {
    color: black;
    text-decoration: none;
}
